
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1491925357266'); /* IE9*/
  src: url('iconfont.eot?t=1491925357266#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491925357266') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491925357266') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491925357266#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-girl:before { content: "\e601"; }

.icon-birthday:before { content: "\e602"; }

.icon-degree:before { content: "\e603"; }

.icon-email:before { content: "\e604"; }

.icon-edit:before { content: "\e605"; }

.icon-position:before { content: "\e606"; }

.icon-project:before { content: "\e607"; }

.icon-set:before { content: "\e608"; }

.icon-user-boy:before { content: "\e609"; }

.icon-college:before { content: "\e60a"; }

.icon-camera:before { content: "\e60b"; }

.icon-pc:before { content: "\e60c"; }

.icon-prompt:before { content: "\e60d"; }

.icon-star:before { content: "\e60e"; }

.icon-phone:before { content: "\e60f"; }

.icon-medal:before { content: "\e610"; }

.icon-debug:before { content: "\e611"; }

.icon-sound:before { content: "\e612"; }

.icon-watch:before { content: "\e615"; }

.icon-battery:before { content: "\e616"; }

.icon-Wuhan_Metro_Logo:before { content: "\e622"; }

.icon-SZMetro_flatlogo:before { content: "\e623"; }

.icon-Dalian_Metro_Logo_Image_Only:before { content: "\e624"; }

.icon-CRT_Logo:before { content: "\e625"; }

.icon-Nanjing_metro_logo:before { content: "\e626"; }

.icon-Guangzhou_Metro_icon:before { content: "\e627"; }

.icon-Beijing_Subway_icon:before { content: "\e628"; }

.icon-Shanghai_Metro_logo:before { content: "\e629"; }

.icon-Changchun_Light_Rail_Transit_icon:before { content: "\e62a"; }

.icon-FMetro_logo_icon:before { content: "\e62b"; }

.icon-Kunming_Metro_Logo:before { content: "\e62c"; }

.icon-Shenyang_Metro_Corporation_Logo:before { content: "\e62d"; }

.icon-Chengdu_Metro_icon:before { content: "\e62e"; }

.icon-HarbinMetro_Logo:before { content: "\e62f"; }

.icon-Qingdao_Metro_Logo_without_text:before { content: "\e630"; }

.icon-Fuzhou_Metro_logo:before { content: "\e631"; }

.icon-nanchangditie:before { content: "\e632"; }

.icon-Wenzhou_Rail_Transit_Logo:before { content: "\e633"; }

.icon-Shijiazhuang_Metro:before { content: "\e634"; }

.icon-tianjinditie:before { content: "\e635"; }

.icon-hangzhouditie:before { content: "\e636"; }

.icon-hefeiditie:before { content: "\e637"; }

