body * {
    box-sizing: border-box;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    background-color: #ffffff;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}